@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-accent: var(--primary-accent);
  --color-foreground-accent: var(--foreground-accent);
  --color-hero-background: var(--hero-background);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #fed835;
    --secondary: #304fff;

    --primary-accent: #e5c230;
    --foreground-accent: #454545;
    --hero-background: #f3f3f5;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-lg;

    color: var(--foreground);
    background: var(--background);
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px 10px 20px;

  width: calc(100% - 20px);
  background: var(--background);
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.modal__title {
  margin: 0;
  color: #030712;
}

.modal__close {
  width: 14px;
  height: 14px;
  border: none;
  cursor: pointer;
}

.modal__content {
  color: #4b5563;
  font-size: 20px;
  text-align: center;
  text-wrap: pretty;
  padding: 30px 0 20px;
}

@media (max-width: 800px) {
  .modal__header {
    padding: 0;
  }
  .modal__content {
    padding: 10px 0 0;
  }
}
